<p>
    View and Reply feedback:
</p>
<div>
    <div *ngFor="let item of feedbacks | async | reverse" class="feedback">
        <p><b>At:</b> {{item.createdAt | date:'yMMMdjms'}}</p>
        <p><b>Subject:</b> {{item.subject}}</p>
        <p><b>Message:</b> {{item.message}}</p>
        <p [hidden]="!item.reply" class="reply"><b>Admin Reply:</b> {{item.reply}}</p>

        <form action="" (submit)="sendReply(item.$key)">
            <textarea (input)="reply=$event.target.value" placeholder="Admin Reply here" cols="30" rows="4" required></textarea>
            <br>
            <button type="submit">Send/Change Reply</button>
        </form>
    </div>
</div>