<p>
    Admin dashboard
</p>
<button [routerLink]="['/admin/feedback']">View Feedback</button>

<div>
    <div *ngFor="let item of parkings | async" class="parking" [routerLink]="['/admin/parking', {uid: item.$key}]" routerLinkActive="active">
        <p><b>Parking Name:</b> {{item.name}}</p>
        <p><b>Slots:</b> {{item.slotCount}}</p>
    </div>
</div>

<form action="" (submit)="addParkingArea()">
    <input (input)="parking.name=$event.target.value" placeholder="Parking Name" required />
    <br/> Slots:
    <input (input)="parking.slotCount=$event.target.value" placeholder="Slots" type="number" min="5" max="50" required />
    <br>
    <button type="submit">Add</button>
</form>